<div class="am-u-sm-12 am-u-md-12 am-u-lg-12 widget-margin-bottom-lg" >
    <div class="widget am-cf widget-body-lg">
        <div class="widget-body  am-fr">
            <div class="am-scrollable-horizontal " style="height: 330px;overflow-y: auto">
                <table width="100%" class="am-table am-table-compact am-text-nowrap tpl-table-black example-r "
                >
                    <thead>
                    <tr>
                        <th>任务名称</th>
                        <th>责任人</th>
                        <th>所属项目</th>
                        <th>创建时间</th>
                        <th>完成时间</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="gradeX" th:each="task:${finishTasks}">
                        <td th:value="${task.stName}"  onclick="getTableNikeName(this)" th:text="${#strings.abbreviate(task.stName,8)}" ></td>
                        <td th:text="${task.staff.stName}"></td>
                        <td th:text="${task.item.stName}"></td>
                        <td th:text="${#dates.format(task.dtCreatetime, 'yyyy-MM-dd')}"></td>
                        <td th:text="${#dates.format(task.dtFinishtime, 'yyyy-MM-dd')}"></td>
                    </tr>
                    <!-- more data -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('.example-r').DataTable({
            bRetrieve: true,
            bInfo: false, //页脚信息
            dom: 'ti'
        });
    });
</script>
